.home-page {
    display: flex;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    box-sizing: border-box;
    color: white;
    transform: scale(1);
    /* you need a scale here to allow it to transition in both directions */
    transition: 0s.15s all ease;
}

/* Input styles */

.link-input {
    font-size: 45px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: black;
    color: white;
    border-bottom: 3px solid white;
}

@media (max-width: 720px) {
    .link-input {
        font-size: 35px;
    }
}

.link-input:focus {
    outline: none;
    color: white;
}

/* button styles */

.action {
    font-size: 1.2rem;
    line-height: 1;
    /* margin-top: 130px; */
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: white !important;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.action:hover {
    color: black !important;
    box-shadow: 0 0 40px 40px white inset;
}

.incorrect {
    font-size: 1.2rem;
    line-height: 1;
    /* margin-top: 130px; */
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: white !important;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.incorrect:hover {
    box-shadow: 0 0 40px 40px white inset !important;
    color: black !important;
}

.not-visible {
    visibility: hidden;
}

/* top result bar */

#top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 25px;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top>h4 {
    margin: 0px;
    overflow: hidden;
}

#bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 25px;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom:hover {
    cursor: pointer;
}

/* checkboxes styles */

.actions-container {
    display: flex;
    width: 100%;
}

@media (max-width: 720px) {
    .actions-container {
        display: flex;
        width: 100%;
        flex-flow: column;
    }
    .once-available-label {
        margin-left: -25px;
    }
}

.container {
    width: 100%;
    min-width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container span {
    font-weight: bold;
    font-size: 20px;
}

.container label {
    cursor: pointer;
}

.container label input[type="checkbox"] {
    display: none;
}

.container label input[type="checkbox"]+.label-text:before {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    margin: -6px 15px 0 0;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: black;
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    content: "";
}

.container label input[type="checkbox"]:checked+.label-text:before {
    text-align: end;
    line-height: 0.8em;
    font-size: 30px;
    color: #ecf0f1;
    content: "✔";
}

/*modal window styles*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup a:link {
    color: black;
}

/* visited link */

.popup a:visited {
    color: black;
}

/* mouse over link */

.popup a:hover {
    color: black;
}

/* selected link */

.popup a:active {
    color: black;
}

.popup .close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    position: absolute;
    top: 0;
    margin: 5px;
    right: 0;
}

.close:hover {
    cursor: pointer;
}

.result-link-popup {
    margin-top: 25px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 85%;
    }
    .popup {
        width: 85%;
    }
}