@import url('https://fonts.googleapis.com/css?family=VT323');

body {
    margin: 0px !important;
    padding: 0px !important;
    background: black;
}

* {
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
}